#hp-feature { background-color: #005CB8; background-image: url('/img/hp_bg.png'); repeat: repeat-x; clear: both; }
#hp-feature .content { margin: 0em auto; width: 765px; color: #fff; height: 250px; }
#hp-feature .list { float: left; }
#hp-feature .list img { top: -12px; margin-bottom: -12px; position: relative; width: 252px; height: 262px; padding-right: 27px; }
#hp-feature .promo { padding-top: 62px; }
#hp-feature .promo h1 { color: #fff; font-size: 2.2em; margin: 0; }
#hp-feature .promo h2 { color: #CCDEF1; font-size: 1.7em; margin-top: 0em; }
#hp-feature .account { text-align: center; padding-top: 4px; color: #B3CEEA; }
#hp-feature .tour { padding-left: 18px; font-size: 1.3em; }
#hp-feature .tour a:link { text-decoration: underline; }
#hp-feature .tour a:visited { text-decoration: underline; }
#hp-feature .tour a:active { text-decoration: underline; }
#hp-feature .tour a:hover { color: #B3CEEA; text-decoration: underline; }
#hp-feature .tour-link { font-weight: bold; }
#hp-tagline { width: 450px; height: 60px; }

#hp-signup-btn { margin-top: 15px; }
#hp-signup-btn table { border-collapse: collapse; border-spacing: 0px; }
#hp-signup-btn .left { background-image: url('/img/hp_signup_lft.png'); background-repeat: no-repeat; width: 7px; height: 52px; cursor: pointer; }
#hp-signup-btn .middle { background-image: url('/img/hp_signup_mid.png'); background-repeat: repeat-x; height: 52px; padding: 0px 33px; cursor: pointer; white-space: nowrap; }
#hp-signup-btn .link { color: #fff; font-weight: bold; font-size: 1.5em; }
#hp-signup-btn .right { background-image: url('/img/hp_signup_rgt.png'); background-repeat: no-repeat; width: 7px; height: 52px; cursor: pointer; }
#hp-signup-btn a:link { color: #fff; text-decoration: none; }
#hp-signup-btn a:visited { color: #fff; text-decoration: none; }
#hp-signup-btn a:active { color: #fff; text-decoration: none; }
#hp-signup-btn a:hover { color: #fff; text-decoration: none; }

#hp-services { width: 765px; }
#hp-services h3 { text-align: center; color: #868686; font-weight: normal; font-size: 1.2em; margin: 0.5em 0 0.8em 0; }
#hp-services table { border-collapse: collapse; border-spacing: 0px; }
#hp-services table td { padding: 1px; font-weight: bold; text-align: center; vertical-align: top; }
#hp-services img { margin-bottom: 4px; width: 150px; height: 100px; }
#hp-services a:link { text-decoration: none; }
#hp-services a:visited { text-decoration: none; }
#hp-services a:active { text-decoration: none; }
#hp-services a:hover { color: #0060BF; text-decoration: underline; }

#hp-quote { margin: 0em auto; width: 440px; clear: both; padding: 25px 0 20px 0; }
.hp-quote { display:block; }
.hp-quote * { display: block; height: 1px; overflow: hidden; font-size: .01em; background: #E1E1E1 }
.hp-quote1 { margin-left: 3px; margin-right: 3px; padding-left: 1px; padding-right: 1px; border-left: 1px solid #f2f2f2; border-right:1px solid #f2f2f2; background: #e8e8e8; }
.hp-quote2 { margin-left: 1px; margin-right: 1px; padding-right: 1px; padding-left: 1px; border-left: 1px solid #fcfcfc; border-right: 1px solid #fcfcfc; background: #e6e6e6; }
.hp-quote3 { margin-left: 1px; margin-right: 1px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; }
.hp-quote4 { border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2; }
.hp-quote5 { border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; }
.hp-quotefg { background: #E1E1E1; padding: 6px 5px; text-align: center; font-size: 1.1em; font-weight: bold; color: #868686; font-family: georgia, arial, helvetica, sans-serif; }
.hp-quotefg img { padding-left: 12px; vertical-align: middle; }

#hp-info { margin: 0em auto; width: 745px; }
#hp-info h3 { text-align: center; color: #666; margin: 1.3em 0 0.7em 0; }
#hp-info table td { padding: 0px 12px 20px 12px; vertical-align: top; line-height: 1.3em; }
#hp-info img { margin-bottom: 7px; width: 213px; height: 68px; border: 1px solid #D1D1D1; }
#hp-info .signup-link { text-align: center; padding: 10px 0; font-size: 1.4em; font-weight: bold; }

#hp-hr { border: 0; background-color: #DADADA; color: #DADADA; height: 1px; }
.hp-new { color: #EA5200; }

#hp-announce { width: 765px; clear: both; }
#hp-announce .col1 { float: left; width: 383px; padding-bottom: 15px; text-align: left; }
#hp-announce .col2 { float: left; width: 382px; padding-bottom: 15px; text-align: right; }
/*#hp-announce { width: 765px; }
#hp-announce .col1 { float: left; width: 540px; }
#hp-announce .col2 { float: left; width: 225px; }
#hp-announce .col2 .ss-iphone { width: 200px; height: 417px; z-index: 100; position: relative; margin-top: -65px; margin-bottom: -14px; }
#hp-announce h2 { font-size: 1.67em; font-weight: normal; }
#hp-announce .msg { margin: 40px 60px 28px 40px; }
#hp-announce .msg p { font-size: 1.1em !important; padding: 0; margin: 0; line-height: 1.4em;  }
#hp-announce .msg-text { margin: 23px 8px 0 7px; color: #333 !important; }
#hp-announce .msg-learn { margin-left: 7px; margin-top: 12px; font-weight: bold; }
#hp-announce .msg-highlight { background-color: #FEFCC1; padding: 7px 9px; }
#hp-announce a:link { text-decoration: none; }
#hp-announce a:visited { text-decoration: none; }
#hp-announce a:active { text-decoration: none; }
#hp-announce a:hover { color: #0060BF; text-decoration: underline; }
#hp-announce .dl { margin: 0 45px 0 10px; background-image: url('/img/bg_dot.gif'); background-repeat: repeat-x; background-position: left top; padding-top: 17px; }
#hp-announce .dl table { border-spacing: 0px; border-collapse: collapse; }
#hp-announce .dl .dl-icon img { width: 50px; height: 50px; margin-left: 5px; margin-right: 13px; }
#hp-announce .dl .dl-link { vertical-align: middle; font-size: 1.45em; font-weight: bold; line-height: 1.3em; }
#hp-announce .dl .dl-store img { width: 144px; height: 47px; margin-left: 20px; }
#hp-announce .msg-text .pro-icon { vertical-align: middle; width: 20px; height: 11px; border: 0; }*/
#hp #container { padding-top: 0; }