#main {
  text-align: center; }

.sign_up_box {
  text-align: left;
  padding: 10px; }

div#description {
  float: left;
  width: 749px; }

div#content {
  text-align: center; }

.right_col_container {
  float: left;
  border-left: 1px dotted #cccccc;
  width: 250px; }

h1 {
  white-space: nowrap; }

label {
  text-align: left;
  color: #666666;
  font-size: 11px;
  margin-top: 5px; }
