%h1 Bienvenue dans 'Où est ma perceuse ?'

#contents
  %p Ce site vous permet de tracer tous les petits (ou gros) prêts que vous faite à vos amis.
  
  #explications 
    Simple d'utilisation
    %ol
      %li Quoi ?
      %li Qui ?
      %li GO ! 
      
    Ensuite, il ne vous reste plus qu'à chercher votre objet pour retrouver instantanément à qui vous l'avez prêter.